{
  "openapi": "3.1.0",
  "info": {
    "title": "0xinsider API",
    "description": "Find your edge on Polymarket and Kalshi. Every wallet graded, every trade scored, every outlier flagged. API exposes trader grades, whale trades, smart money signals, and insider detection for AI agents, trading bots, and research tools. Normal API requests use a 30-second server timeout that returns HTTP 408 Request Timeout with an empty body when exceeded. Public REST /api/v1/* endpoints, excluding /api/v1/mcp, use Bearer-token based non-credentialed browser CORS: any Origin may call with Authorization, Content-Type, If-None-Match, Idempotency-Key, and Mcp-Session-Id request headers. Remote MCP at /api/v1/mcp is non-credentialed, but still validates Origin against the 0xinsider/localhost allowlist per MCP Streamable HTTP DNS-rebinding guidance. Successful browser CORS preflight responses advertise Access-Control-Max-Age: 86400. Browser JavaScript may read X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, Retry-After, ETag, X-Request-Id, X-Request-Cost, X-Batch-RateLimit-Limit, X-Batch-RateLimit-Remaining, X-Batch-RateLimit-Reset, Mcp-Session-Id, and X-Mcp-Error-Code response headers. Credentialed first-party routes such as /api/keys, /api/billing, and auth endpoints remain restricted to configured 0xinsider origins.",
    "version": "1.0.0",
    "contact": {
      "name": "0xinsider",
      "email": "support@0xinsider.com",
      "url": "https://0xinsider.com"
    }
  },
  "servers": [
    {
      "url": "https://api.0xinsider.com",
      "description": "Production (live data). Authenticate with a live key (oxi_sk_live_...); requires an active Insider subscription."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "operationId": "getApiDiscovery",
        "summary": "API discovery",
        "description": "Unauthenticated API-origin discovery document pointing agents to the canonical API base URL, full docs, web-origin OpenAPI spec, health check, and representative authenticated data routes.",
        "tags": [
          "System"
        ],
        "security": [],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl 'https://api.0xinsider.com/api/v1'"
          }
        ],
        "responses": {
          "200": {
            "description": "API discovery document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "api_discovery"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ApiDiscovery"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "example": {
                  "object": "api_discovery",
                  "data": {
                    "api_base_url": "https://api.0xinsider.com",
                    "docs_url": "https://0xinsider.com/llms-full.txt",
                    "openapi_url": "https://0xinsider.com/api/v1/openapi.json",
                    "health_url": "https://api.0xinsider.com/api/v1/health",
                    "authentication": "Bearer API key required for data endpoints; discovery (/api/v1), health, and /api/v1/platforms are public.",
                    "authenticated_routes": [
                      "GET /api/v1/markets/search"
                    ]
                  },
                  "meta": {
                    "request_id": "req_550e8400-e29b-41d4-a716-446655440000",
                    "cached": false,
                    "cache_age_s": null
                  }
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/openapi.json": {
      "get": {
        "operationId": "redirectApiOpenapiSpec",
        "summary": "Redirect to the canonical OpenAPI spec",
        "description": "Unauthenticated API-origin compatibility redirect to the canonical web-origin OpenAPI JSON document at https://0xinsider.com/api/v1/openapi.json.",
        "tags": [
          "System"
        ],
        "security": [],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -I 'https://api.0xinsider.com/api/v1/openapi.json'"
          }
        ],
        "responses": {
          "307": {
            "description": "Temporary redirect to the canonical web-origin OpenAPI spec.",
            "headers": {
              "Location": {
                "description": "Canonical OpenAPI spec URL.",
                "schema": {
                  "type": "string",
                  "format": "uri",
                  "const": "https://0xinsider.com/api/v1/openapi.json"
                },
                "example": "https://0xinsider.com/api/v1/openapi.json"
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/trader/{address}": {
      "get": {
        "operationId": "getTrader",
        "summary": "Get trader intelligence",
        "description": "Returns a trader's cohort-relative skill grade (S through F; calibration, risk-adjusted returns, and consistency, not profit size), P&L, win rate, and optional strategy/category data. The path accepts either an Ethereum wallet address, a known trader username, or a trd_-prefixed trader ID emitted by this API. Unknown lookups return sync_status \"unknown\" instead of 404.",
        "tags": [
          "Traders"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Ethereum wallet address (0x...), known trader username, or trd_-prefixed trader ID emitted by this API.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand[]",
            "in": "query",
            "required": false,
            "description": "Backward-compatible alias for expand. Repeatable: strategy, categories, quant_metrics, trust.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "strategy",
                  "categories",
                  "quant_metrics",
                  "trust"
                ]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Include heavy fields and trust metadata. Repeatable: strategy, categories, quant_metrics, trust.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "strategy",
                  "categories",
                  "quant_metrics",
                  "trust"
                ]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trader profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "trader"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Trader"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "traders",
                      "data": {},
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/trader/{address}'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "traders",
            "data": {},
            "meta": {
              "request_id": "req_example",
              "cached": false
            }
          }
        }
      }
    },
    "/api/v1/traders/batch": {
      "post": {
        "operationId": "batchGetTraders",
        "summary": "Batch trader intelligence",
        "description": "Returns trader intelligence for 1-25 wallet addresses or known usernames. Results preserve request order, duplicate inputs return duplicate rows, and each item is charged one batch item unit before execution. Unknown trader lookups return data with sync_status \"unknown\" matching the single trader endpoint.",
        "tags": [
          "Traders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "traders"
                ],
                "properties": {
                  "traders": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 25,
                    "items": {
                      "type": "string"
                    }
                  },
                  "expand": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "strategy",
                        "categories",
                        "quant_metrics",
                        "trust"
                      ]
                    },
                    "description": "Shared expand flags applied to every trader item."
                  }
                }
              },
              "example": {
                "traders": [
                  "swisstony",
                  "0x0000000000000000000000000000000000000000"
                ],
                "expand": [
                  "strategy"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered batch trader results",
            "headers": {
              "X-Request-Cost": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of batch item units charged for this request."
              },
              "X-Batch-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Batch item units allowed per minute."
              },
              "X-Batch-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Batch item units remaining in the current sliding window."
              },
              "X-Batch-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp when the batch item window resets."
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "trader_batch"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BatchTraderItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/BatchResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "traders",
                      "data": {},
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -X POST \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"traders\":[\"swisstony\",\"0x0000000000000000000000000000000000000000\"],\"expand\":[\"strategy\"]}' \\\n  'https://api.0xinsider.com/api/v1/traders/batch'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "traders",
            "data": {},
            "meta": {
              "request_id": "req_example",
              "cached": false
            }
          }
        }
      }
    },
    "/api/v1/trader/{address}/position-timeline": {
      "get": {
        "operationId": "getPositionTimeline",
        "summary": "Get a trader's position timeline for one market",
        "description": "Returns every Polymarket fill for one trader in one market, newest first, with server-computed running_amount and running_avg_price. Only HOT and WARM tier traders are tracked; other traders return 404. running_avg_price is a buy-weighted entry basis (sells do not change the running average) matching Polymarket /positions avgPrice semantics. Cursor-paginated. An id-keyed alias exists at GET /api/v1/traders/{id}/position-timeline.",
        "tags": [
          "Traders"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Trader wallet address (0x...) or trd_-prefixed trader ID emitted by this API. Case-insensitive wallet addresses are lowercased server-side.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": true,
            "description": "Market condition_id. One timeline per (trader, market).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response's next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Position timeline page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PositionTimelineEvent"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/trader/{address}/position-timeline'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false
            }
          }
        }
      }
    },
    "/api/v1/trader/{address}/pnl": {
      "get": {
        "operationId": "getTraderPnl",
        "summary": "Get trader P&L time series",
        "description": "Returns a trader's daily P&L time series and pre-derived stats from the precomputed daily_pnl read model: entries (daily cumulative P&L), period stats (all/90d/30d/7d), monthly aggregation, per-year totals, and the drawdown series. Reads the refreshed read model, not a per-request equity replay. A resolved trader with no daily P&L returns an empty structured object (HTTP 200); an unknown address returns 404. Spans both providers wherever the read model has the trader's series.",
        "tags": [
          "Traders"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Wallet address (0x...), username, or trd_-prefixed trader id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trader P&L object",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "trader_pnl"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TraderPnl"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "example": {
                  "object": "trader_pnl",
                  "data": {
                    "id": "trd_0xabc123",
                    "entries": [
                      {
                        "date": "2026-05-12",
                        "markets_traded": 3,
                        "total_volume": 10000.0,
                        "cumulative_profit": 50000.0,
                        "total_pnl": 50000.0,
                        "daily_change": 250.0
                      }
                    ],
                    "stats": {
                      "all": {
                        "current": 50000.0,
                        "change": 50000.0,
                        "change_pct": 0.0,
                        "best_day": 5000.0,
                        "worst_day": -2000.0,
                        "win_days": 30,
                        "loss_days": 10,
                        "avg_day": 250.0,
                        "rebase_anchor": 0.0
                      },
                      "d90": {
                        "current": 12000.0,
                        "change": 12000.0,
                        "change_pct": 31.5,
                        "best_day": 5000.0,
                        "worst_day": -2000.0,
                        "win_days": 18,
                        "loss_days": 6,
                        "avg_day": 500.0,
                        "rebase_anchor": 38000.0
                      },
                      "d30": {
                        "current": 4000.0,
                        "change": 4000.0,
                        "change_pct": 8.7,
                        "best_day": 2500.0,
                        "worst_day": -800.0,
                        "win_days": 9,
                        "loss_days": 3,
                        "avg_day": 333.0,
                        "rebase_anchor": 46000.0
                      },
                      "d7": {
                        "current": 900.0,
                        "change": 900.0,
                        "change_pct": 1.8,
                        "best_day": 600.0,
                        "worst_day": -150.0,
                        "win_days": 4,
                        "loss_days": 1,
                        "avg_day": 180.0,
                        "rebase_anchor": 49100.0
                      }
                    },
                    "monthly": [
                      {
                        "year": 2026,
                        "month": 5,
                        "pnl": 12000.0,
                        "markets_traded": 18
                      }
                    ],
                    "year_totals": [
                      {
                        "year": 2026,
                        "pnl": 50000.0
                      }
                    ],
                    "drawdown": [
                      {
                        "date": "2026-05-12",
                        "cumulative_profit": 50000.0,
                        "drawdown": -1500.0
                      }
                    ]
                  },
                  "meta": {
                    "request_id": "req_example",
                    "cached": false
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "description": "Validator for the unchanged payload.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/trader/0xabc123/pnl'"
          }
        ]
      }
    },
    "/api/v1/traders/{trader}/position-timeline": {
      "get": {
        "operationId": "getPositionTimelineById",
        "summary": "Get a trader's position timeline (unified identity resolver)",
        "description": "Unified trader-timeline route (#4975). {trader} accepts all four identity shapes - 0x... wallet, username, trd_-prefixed trader id, and bare integer id - resolved by the single shared trader-identity resolver. Returns every Polymarket fill for one trader in one market, newest first, with server-computed running_amount and running_avg_price. Only HOT and WARM tier traders are tracked; other traders return 404. Response body is byte-identical to the singular GET /api/v1/trader/{address}/position-timeline route for the same (trader, market). The prior integer-id-only variant is preserved: the same path now accepts every identity shape.",
        "tags": [
          "Traders"
        ],
        "parameters": [
          {
            "name": "trader",
            "in": "path",
            "required": true,
            "description": "Trader identity: 0x... wallet address, username, trd_-prefixed trader id, or bare integer traders.id. Resolved with precedence wallet -> trd_ -> integer -> username. Unknown identities return 404.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": true,
            "description": "Market condition_id. One timeline per (trader, market).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response's next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Position timeline page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PositionTimelineEvent"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/traders/{id}/position-timeline'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false
            }
          }
        }
      }
    },
    "/api/v1/positions": {
      "get": {
        "operationId": "listPositions",
        "summary": "List current positions (positions-board feed)",
        "description": "Returns the current positions-board feed backed by the wallet_positions mirror. Ordered by current_value_usd DESC with deterministic (wallet, condition_id, outcome_index) tiebreakers. Pre-reconcile rows (current_value_usd IS NULL) are excluded. Cursor-paginated. Every filter pushes into SQL.",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response's next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_size",
            "in": "query",
            "description": "Minimum current position value in USD.",
            "schema": {
              "type": "number",
              "default": 100
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Exact match against provider-backed market_canonical.category.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_grade",
            "in": "query",
            "description": "Minimum trader grade allowlist. `A` matches S and A; `B` matches S, A, B; etc.",
            "schema": {
              "type": "string",
              "enum": [
                "S",
                "A",
                "B",
                "C",
                "D",
                "F"
              ]
            }
          },
          {
            "name": "side",
            "in": "query",
            "description": "Filter by the binary outcome side. `yes` maps to outcome_index=0, `no` to outcome_index=1.",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Position"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/positions'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false
            }
          }
        }
      }
    },
    "/api/v1/large-positions": {
      "get": {
        "operationId": "listLargePositions",
        "summary": "List large positions",
        "description": "Returns the largest current open positions from graded traders, value-descending, with opaque cursor pagination. Polymarket-only by design: the large-positions scanner filters platform = 'polymarket' (backend/src/large_positions/scanner.rs:238,245), so no Kalshi rows are ever scanned and a Kalshi or unknown condition_id filter returns an empty list (never fabricated rows). The teaser cap that the internal product UI applies to anonymous viewers does not apply here: the API key already proves an active insider/annual subscription, so authed API callers get full access.",
        "tags": [
          "Large Positions"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_size",
            "in": "query",
            "description": "Minimum position value in USD.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by provider-backed market category.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_grade",
            "in": "query",
            "description": "Minimum trader grade.",
            "schema": {
              "type": "string",
              "enum": [
                "S",
                "A",
                "B",
                "C",
                "D",
                "F"
              ]
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "description": "Scope to one market. Accepts the raw provider condition_id or the mkt_-prefixed market id (round-trips a value from a list response). Polymarket-only; a Kalshi or unknown id returns [].",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Large positions list",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LargePosition"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Opaque cursor for the next page; absent on the last page."
                    },
                    "total": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Total ranked rows when the read model exposes a count; may be absent."
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "description": "Validator for the unchanged payload.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/large-positions?min_grade=A&limit=10'"
          }
        ]
      }
    },
    "/api/v1/whale-trades": {
      "get": {
        "operationId": "listWhaleTrades",
        "summary": "List whale trades",
        "description": "Returns recent large trades with signal scoring. Filter by size, category, or trader grade. Filters are applied before pagination, and every request uses SQL-backed limit + 1 pagination so has_more and next_cursor reflect the filtered result set. Cursor-paginated, newest first. Market categories come from provider-backed market_canonical identity.",
        "tags": [
          "Whale Trades"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response's next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_size",
            "in": "query",
            "description": "Minimum trade size in USD.",
            "schema": {
              "type": "number",
              "default": 5000
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by market category (case-insensitive). A canonical bucket name (e.g. Basketball) matches every provider member that folds into it (NBA, WNBA, NCAAB); a raw provider value also resolves to its bucket.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_grade",
            "in": "query",
            "description": "Minimum trader grade.",
            "schema": {
              "type": "string",
              "enum": [
                "S",
                "A",
                "B",
                "C",
                "D",
                "F"
              ]
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of whale trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WhaleTrade"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/whale-trades'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false
            }
          }
        }
      }
    },
    "/api/v1/whale-trades/history": {
      "get": {
        "operationId": "listWhaleTradeHistory",
        "summary": "Replay historical whale trades",
        "description": "Returns historical whale trades from local whale_alerts rows, not request-time provider fetches. Filter by condition_id, trader, category, minimum grade, platform, and RFC3339 from/to windows. All filters are pushed into SQL before LIMIT, every request uses SQL-backed limit + 1 pagination, and results are ordered newest first by traded_at desc, id desc. Metadata exposes local_replay source and best_effort completeness.",
        "tags": [
          "Whale Trades"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response's next_cursor. Prefix: wth_. URL-encode when replaying as a query parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_size",
            "in": "query",
            "description": "Minimum trade size in USD.",
            "schema": {
              "type": "number",
              "default": 5000
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "description": "Exact raw provider condition_id. Unknown markets return an empty list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trader",
            "in": "query",
            "description": "Trader wallet address, timestamp-suffixed wallet alias, or username resolved against the traders table. Unknown traders return an empty list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by market category (case-insensitive). A canonical bucket name (e.g. Basketball) matches every provider member that folds into it (NBA, WNBA, NCAAB); a raw provider value also resolves to its bucket.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_grade",
            "in": "query",
            "description": "Minimum trader grade.",
            "schema": {
              "type": "string",
              "enum": [
                "S",
                "A",
                "B",
                "C",
                "D",
                "F"
              ]
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Filter by whale_alerts.platform. all is equivalent to omitted.",
            "schema": {
              "type": "string",
              "enum": [
                "polymarket",
                "kalshi",
                "all"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Inclusive RFC3339 lower bound on whale_alerts.traded_at.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Exclusive RFC3339 upper bound on whale_alerts.traded_at. Must be after from when both are present.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical whale trade replay",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WhaleTrade"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "meta": {
                      "$ref": "#/components/schemas/WhaleTradeHistoryMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/whale-trades/history'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false
            }
          }
        }
      }
    },
    "/api/v1/whale-trades/{id}": {
      "get": {
        "operationId": "getWhaleTrade",
        "summary": "Get whale trade by ID",
        "description": "Returns one whale trade by raw whale_alerts.id or the wt_-prefixed id emitted by list and history responses.",
        "tags": [
          "Whale Trades"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Raw whale_alerts.id or wt_-prefixed whale trade id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Whale trade",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "whale_trade"
                    },
                    "data": {
                      "$ref": "#/components/schemas/WhaleTrade"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "whale_trade",
                      "data": {},
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/whale-trades/wt_123'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "whale_trade",
            "data": {},
            "meta": {
              "request_id": "req_example",
              "cached": false
            }
          }
        }
      }
    },
    "/api/v1/leaderboard": {
      "get": {
        "operationId": "listLeaderboard",
        "summary": "Get trader leaderboard",
        "description": "Returns ranked traders (grades S/A/B) sorted by score descending. Supports cursor pagination and optional category/strategy filters.",
        "tags": [
          "Leaderboard"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor (score_address format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category. Values are matched to canonical category buckets: political variants (Elections, Global Politics, U.S. Politics, ...) fold into Politics, Geopolitics stays distinct, Culture/Entertainment map to Pop Culture, Science maps to Science & Tech, and Finance/Business map to Stocks. Mapped buckets are case-insensitive; passthrough categories (Crypto, NBA, and the sports leagues) match case-sensitively against the provider-native bucket key, so use exact casing (e.g. Crypto, NBA).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "strategy",
            "in": "query",
            "description": "Filter by ML-detected strategy type. Values come from backend/src/trader_analysis/classification/decision_tree.rs and are matched exactly against trader_classifications.primary_type. Unknown values currently match zero rows; the handler does not return HTTP 400.",
            "schema": {
              "type": "string",
              "enum": [
                "accumulator",
                "algo_trader",
                "arbitrageur",
                "directional",
                "event_driven",
                "market_maker",
                "momentum",
                "scalper",
                "speculator",
                "swing_trader"
              ]
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked trader list",
            "headers": {
              "ETag": {
                "description": "Stable validator for the current leaderboard payload. Re-send it via If-None-Match for conditional GETs.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LeaderboardEntry"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current leaderboard payload.",
            "headers": {
              "ETag": {
                "description": "Validator for the unchanged leaderboard payload.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/leaderboard'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false
            }
          }
        }
      }
    },
    "/api/v1/leaderboard/trending": {
      "get": {
        "operationId": "listTrendingWallets",
        "summary": "List trending wallets",
        "description": "Returns wallets ranked by trailing-window realized P&L (Polymarket-only discovery), with opaque page-cursor pagination. Each row carries window P&L, volume, distinct markets, grade, hot-streak tier, and a zero-filled daily P&L series. The underlying read model is warmed into Redis; a cold read returns 503 (warming, retry-after), never a 500 or a fabricated ranking. Polymarket-only: the read model filters platform = 'polymarket'.",
        "tags": [
          "Leaderboard"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "window",
            "in": "query",
            "description": "Trailing window.",
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d"
              ],
              "default": "7d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trending wallets list",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TrendingWallet"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Opaque cursor for the next page; absent on the last page."
                    },
                    "total": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Total ranked rows when the read model exposes a count; may be absent."
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "description": "Validator for the unchanged payload.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/leaderboard/trending?window=7d&limit=10'"
          }
        ]
      }
    },
    "/api/v1/markets/search": {
      "get": {
        "operationId": "searchMarkets",
        "summary": "Search markets",
        "description": "Search prediction markets by keyword. Returns representative market matches with status, category, and platform metadata. Cursor pagination advances over grouped market results rather than raw sub-market rows.",
        "tags": [
          "Markets"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query. Must be 1-512 characters before whitespace trimming and non-empty after trimming.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response's next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by market status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "closed",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketSearchResult"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/markets/search'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false
            }
          }
        }
      }
    },
    "/api/v1/markets/explore": {
      "get": {
        "operationId": "exploreMarkets",
        "summary": "Explore markets",
        "description": "Browse whale-active titled markets with category, platform, status, and keyword filters. Paginates visible discovery entries rather than raw market rows, returns live category/platform facets alongside grouped event clusters or standalone markets, and includes total on the first page only. Categories come straight from provider metadata (Polymarket Gamma, Kalshi) and facets are flat value/label/count rows.",
        "tags": [
          "Markets"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Filter by market category (case-insensitive). A canonical bucket name (e.g. Basketball) matches every provider member that folds into it (NBA, WNBA, NCAAB); a raw provider value also resolves to its bucket. Facet values are returned as the canonical bucket.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by market status.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "closed",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Filter by source platform.",
            "schema": {
              "type": "string",
              "enum": [
                "polymarket",
                "kalshi",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for the discovery feed.",
            "schema": {
              "type": "string",
              "enum": [
                "trending",
                "hot",
                "expiring",
                "whales",
                "volume",
                "newest"
              ],
              "default": "trending"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from the previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 48,
              "default": 24
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Keyword search against market titles.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Grouped market discovery results",
            "headers": {
              "ETag": {
                "description": "Stable validator for the current explore payload. Re-send it via If-None-Match for conditional GETs.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "facets",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExploreEntry"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "total": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Total matching visible entries after grouping. Present on the first page and omitted on cursor pages."
                    },
                    "facets": {
                      "$ref": "#/components/schemas/ExploreFacets"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current explore payload.",
            "headers": {
              "ETag": {
                "description": "Validator for the unchanged explore payload.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/markets/explore'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false
            }
          }
        }
      }
    },
    "/api/v1/markets/smart-money-flows": {
      "get": {
        "operationId": "listSmartMoneyFlows",
        "summary": "List ranked smart-money flows",
        "description": "Ranks markets by absolute net S/A/B-grade whale flow over a requested timeframe. Use this discovery endpoint to answer where smart money is flowing before drilling into a specific market with /api/v1/market/{condition_id}/intel. Pagination is anchored by an opaque cursor carrying the first page as_of timestamp so new whale trades do not reorder page 2.",
        "tags": [
          "Markets"
        ],
        "parameters": [
          {
            "name": "timeframe",
            "in": "query",
            "description": "Lookback window for grade-filtered whale flow aggregation.",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "4h",
                "24h",
                "7d"
              ],
              "default": "24h"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from previous response's next_cursor. Encodes the first-page as_of timestamp plus the last row's absolute net flow and condition_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by market category (case-insensitive). A canonical bucket name (e.g. Basketball) matches every provider member that folds into it (NBA, WNBA, NCAAB); a raw provider value also resolves to its bucket.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Filter by source platform. all is a request-side no-op.",
            "schema": {
              "type": "string",
              "enum": [
                "polymarket",
                "kalshi",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "min_grade",
            "in": "query",
            "description": "Minimum latest trader grade included in the flow. Default B means S/A/B only; unranked traders are excluded.",
            "schema": {
              "type": "string",
              "enum": [
                "S",
                "A",
                "B",
                "C",
                "D",
                "F"
              ],
              "default": "B"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Optional post-aggregate flow direction filter.",
            "schema": {
              "type": "string",
              "enum": [
                "YES",
                "NO"
              ]
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked market smart-money flows",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
[...]
