{
  "openapi": "3.1.0",
  "info": {
    "title": "0xinsider API",
    "description": "Find your edge on Polymarket and Kalshi. Every wallet graded, every trade scored, every outlier flagged. API exposes trader grades, whale trades, smart money signals, and insider detection for AI agents, trading bots, and research tools. Normal API requests use a 30-second server timeout that returns HTTP 408 Request Timeout with an empty body when exceeded. Public REST /api/v1/* endpoints, excluding /api/v1/mcp, use Bearer-token based non-credentialed browser CORS: any Origin may call with Authorization, Content-Type, If-None-Match, Idempotency-Key, and Mcp-Session-Id request headers. Remote MCP at /api/v1/mcp is non-credentialed, but still validates Origin against the 0xinsider/localhost allowlist per MCP Streamable HTTP DNS-rebinding guidance. Successful browser CORS preflight responses advertise Access-Control-Max-Age: 86400. Browser JavaScript may read X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, Retry-After, ETag, X-Request-Id, X-Request-Cost, X-Batch-RateLimit-Limit, X-Batch-RateLimit-Remaining, X-Batch-RateLimit-Reset, Mcp-Session-Id, and X-Mcp-Error-Code response headers. Credentialed first-party routes such as /api/keys, /api/billing, and auth endpoints remain restricted to configured 0xinsider origins.",
    "version": "1.0.0",
    "contact": {
      "name": "0xinsider",
      "email": "support@0xinsider.com",
      "url": "https://0xinsider.com"
    }
  },
  "servers": [
    {
      "url": "https://api.0xinsider.com",
      "description": "Production (live data). Authenticate with a live key (oxi_sk_live_...); requires an active Insider subscription."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1": {
      "get": {
        "operationId": "getApiDiscovery",
        "summary": "API discovery",
        "description": "Unauthenticated API-origin discovery document pointing agents to the canonical API base URL, full docs, web-origin OpenAPI spec, health check, and the COMPLETE index of authenticated data routes. data.authenticated_routes is the whole authenticated route surface, not a sample: it carries every authenticated route this spec documents, so an agent that starts here never has to guess a path. backend/src/api_v1/discovery.rs::authenticated_routes_match_the_published_spec fails if the index and this spec disagree in either direction.",
        "tags": [
          "System"
        ],
        "security": [],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl 'https://api.0xinsider.com/api/v1'"
          }
        ],
        "responses": {
          "200": {
            "description": "API discovery document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "api_discovery"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ApiDiscovery"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "example": {
                  "object": "api_discovery",
                  "data": {
                    "api_base_url": "https://api.0xinsider.com",
                    "docs_url": "https://0xinsider.com/llms-full.txt",
                    "openapi_url": "https://0xinsider.com/api/v1/openapi.json",
                    "health_url": "https://api.0xinsider.com/api/v1/health",
                    "authentication": "Bearer API key required for data endpoints; discovery (/api/v1), health, and /api/v1/platforms are public.",
                    "authenticated_routes": [
                      "GET /api/v1/leaderboard",
                      "GET /api/v1/markets/search",
                      "GET /api/v1/pick-of-the-day",
                      "GET /api/v1/positions",
                      "GET /api/v1/trader/{address}",
                      "GET /api/v1/whale-trades",
                      "POST /api/v1/traders/batch"
                    ]
                  },
                  "meta": {
                    "request_id": "req_550e8400-e29b-41d4-a716-446655440000",
                    "cached": false,
                    "cache_age_s": null,
                    "cost": 1
                  }
                }
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/openapi.json": {
      "get": {
        "operationId": "redirectApiOpenapiSpec",
        "summary": "Redirect to the canonical OpenAPI spec",
        "description": "Unauthenticated API-origin compatibility redirect to the canonical web-origin OpenAPI JSON document at https://0xinsider.com/api/v1/openapi.json.",
        "tags": [
          "System"
        ],
        "security": [],
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -I 'https://api.0xinsider.com/api/v1/openapi.json'"
          }
        ],
        "responses": {
          "307": {
            "description": "Temporary redirect to the canonical web-origin OpenAPI spec.",
            "headers": {
              "Location": {
                "description": "Canonical OpenAPI spec URL.",
                "schema": {
                  "type": "string",
                  "format": "uri",
                  "const": "https://0xinsider.com/api/v1/openapi.json"
                },
                "example": "https://0xinsider.com/api/v1/openapi.json"
              }
            }
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v1/trader/{address}": {
      "get": {
        "operationId": "getTrader",
        "summary": "Get trader intelligence",
        "description": "Returns a trader's grade (S through F; ranked about 95% by realized profit, with calibration, track record, and consistency as a tie-breaker and proven-trader guardrails), P&L, win rate, and optional strategy/category data. The path accepts either an Ethereum wallet address, a known trader username, or a trd_-prefixed trader ID emitted by this API. Unknown lookups return sync_status \"unknown\" instead of 404.",
        "tags": [
          "Traders"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Ethereum wallet address (0x...), known trader username, or trd_-prefixed trader ID emitted by this API.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand[]",
            "in": "query",
            "required": false,
            "description": "Backward-compatible alias for expand. Repeatable: strategy, categories, quant_metrics, trust.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "strategy",
                  "categories",
                  "quant_metrics",
                  "trust"
                ]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Include heavy fields and trust metadata. Repeatable: strategy, categories, quant_metrics, trust.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "strategy",
                  "categories",
                  "quant_metrics",
                  "trust"
                ]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trader profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "trader"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Trader"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "traders",
                      "data": {},
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/trader/{address}'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "traders",
            "data": {},
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        }
      }
    },
    "/api/v1/trader/{address}/context.md": {
      "get": {
        "operationId": "getTraderContextMarkdown",
        "summary": "Get trader context (Markdown)",
        "description": "Returns a single human- and LLM-readable Markdown briefing for one trader: identity, grade, P&L, position coverage, and freshness. The path accepts an Ethereum wallet address (0x...), a known trader username, or a trd_-prefixed trader ID emitted by this API. Unknown traders still return 200 with a degraded 'not yet synced' document (no 404). The Markdown variant does not emit an ETag and does not support conditional requests; use the JSON variant (drop the .md suffix) for ETag/If-None-Match handling.",
        "tags": [
          "Traders"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Ethereum wallet address (0x...), known trader username, or trd_-prefixed trader ID emitted by this API.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trader context document (Markdown)",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                },
                "example": "# Trader context: @swisstony\n\nAI-ready trader summary from 0xinsider. Reflects backend state as of the data_as_of clock below (a point-in-time snapshot, cached briefly), not request time.\n\n- Data as of: 2026-01-15T12:00:00Z\n- Sync status: synced\n"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/trader/{address}/context.md'"
          }
        ]
      }
    },
    "/api/v1/trader/{address}/context": {
      "get": {
        "operationId": "getTraderContext",
        "summary": "Get trader context (JSON)",
        "description": "Returns a single structured context object for one trader: the full trader profile (same shape as GET /api/v1/trader/{address}) plus a position_summary (sync coverage and realized/unrealized P&L rollups, with an as_of open-position freshness clock), the data_as_of freshness timestamp (the open-position data's latest /positions snapshot, else last completed sync; the snapshot advances only open positions, so resolved/closed aggregates still date to the last full sync), and a freshness_note describing the point-in-time snapshot semantics. The path accepts an Ethereum wallet address (0x...), a known trader username, or a trd_-prefixed trader ID emitted by this API. position_summary is omitted when the trader is not in the local database; unknown lookups return 200 with sync_status 'unknown' on the nested trader (no 404). Append .md to the path for the Markdown rendering.",
        "tags": [
          "Traders"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Ethereum wallet address (0x...), known trader username, or trd_-prefixed trader ID emitted by this API.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trader context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "trader_context"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TraderContext"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "trader_context",
                      "data": {},
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/trader/{address}/context'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "trader_context",
            "data": {},
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        }
      }
    },
    "/api/v1/traders/batch": {
      "post": {
        "operationId": "batchGetTraders",
        "summary": "Batch trader intelligence",
        "description": "Returns trader intelligence for 1-25 wallet addresses or known usernames. Results preserve request order, duplicate inputs return duplicate rows, and each item is charged one batch item unit before execution. Unknown trader lookups return data with sync_status \"unknown\" matching the single trader endpoint.",
        "tags": [
          "Traders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "traders"
                ],
                "properties": {
                  "traders": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 25,
                    "items": {
                      "type": "string"
                    }
                  },
                  "expand": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "strategy",
                        "categories",
                        "quant_metrics",
                        "trust"
                      ]
                    },
                    "description": "Shared expand flags applied to every trader item."
                  }
                }
              },
              "example": {
                "traders": [
                  "swisstony",
                  "0x0000000000000000000000000000000000000000"
                ],
                "expand": [
                  "strategy"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered batch trader results",
            "headers": {
              "X-Request-Cost": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of batch item units charged for this request."
              },
              "X-Batch-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                },
                "description": "Batch item units allowed per minute."
              },
              "X-Batch-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                },
                "description": "Batch item units remaining in the current sliding window."
              },
              "X-Batch-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix timestamp when the batch item window resets."
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "trader_batch"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BatchTraderItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/BatchResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "traders",
                      "data": {},
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -X POST \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"traders\":[\"swisstony\",\"0x0000000000000000000000000000000000000000\"],\"expand\":[\"strategy\"]}' \\\n  'https://api.0xinsider.com/api/v1/traders/batch'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "traders",
            "data": {},
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        }
      }
    },
    "/api/v1/trader/{address}/position-timeline": {
      "get": {
        "operationId": "getPositionTimeline",
        "summary": "Get a trader's position timeline for one market",
        "description": "Returns every Polymarket fill for one trader in one market, newest first, with server-computed running_amount and running_avg_price. Only HOT and WARM tier traders are tracked; other traders return 404. running_avg_price is a buy-weighted entry basis (sells do not change the running average) matching Polymarket /positions avgPrice semantics. Cursor-paginated. An id-keyed alias exists at GET /api/v1/traders/{id}/position-timeline.",
        "tags": [
          "Traders"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Trader wallet address (0x...) or trd_-prefixed trader ID emitted by this API. Case-insensitive wallet addresses are lowercased server-side.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": true,
            "description": "Market condition_id. One timeline per (trader, market).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response's next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Position timeline page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PositionTimelineEvent"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "total": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Total matching rows when the read model exposes a count; absent (or null) when it does not."
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TraderNotTracked"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/trader/{address}/position-timeline'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        }
      }
    },
    "/api/v1/trader/{address}/pnl": {
      "get": {
        "operationId": "getTraderPnl",
        "summary": "Get trader P&L time series",
        "description": "Returns a trader's daily P&L time series and pre-derived stats from the precomputed daily_pnl read model: entries (daily cumulative P&L), period stats (all/90d/30d/7d), monthly aggregation, per-year totals, and the drawdown series. Reads the refreshed read model, not a per-request equity replay. A resolved trader with no daily P&L returns an empty structured object (HTTP 200); an unknown address returns 404. Spans both providers wherever the read model has the trader's series.",
        "tags": [
          "Traders"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Wallet address (0x...), username, or trd_-prefixed trader id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trader P&L object",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "trader_pnl"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TraderPnl"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "example": {
                  "object": "trader_pnl",
                  "data": {
                    "id": "trd_0xabc123",
                    "entries": [
                      {
                        "date": "2026-05-12",
                        "markets_traded": 3,
                        "total_volume": 10000.0,
                        "cumulative_profit": 50000.0,
                        "total_pnl": 50000.0,
                        "daily_change": 250.0
                      }
                    ],
                    "stats": {
                      "all": {
                        "current": 50000.0,
                        "change": 50000.0,
                        "change_pct": 0.0,
                        "best_day": 5000.0,
                        "worst_day": -2000.0,
                        "win_days": 30,
                        "loss_days": 10,
                        "avg_day": 250.0,
                        "rebase_anchor": 0.0
                      },
                      "d90": {
                        "current": 12000.0,
                        "change": 12000.0,
                        "change_pct": 31.5,
                        "best_day": 5000.0,
                        "worst_day": -2000.0,
                        "win_days": 18,
                        "loss_days": 6,
                        "avg_day": 500.0,
                        "rebase_anchor": 38000.0
                      },
                      "d30": {
                        "current": 4000.0,
                        "change": 4000.0,
                        "change_pct": 8.7,
                        "best_day": 2500.0,
                        "worst_day": -800.0,
                        "win_days": 9,
                        "loss_days": 3,
                        "avg_day": 333.0,
                        "rebase_anchor": 46000.0
                      },
                      "d7": {
                        "current": 900.0,
                        "change": 900.0,
                        "change_pct": 1.8,
                        "best_day": 600.0,
                        "worst_day": -150.0,
                        "win_days": 4,
                        "loss_days": 1,
                        "avg_day": 180.0,
                        "rebase_anchor": 49100.0
                      }
                    },
                    "monthly": [
                      {
                        "year": 2026,
                        "month": 5,
                        "pnl": 12000.0,
                        "markets_traded": 18
                      }
                    ],
                    "year_totals": [
                      {
                        "year": 2026,
                        "pnl": 50000.0
                      }
                    ],
                    "drawdown": [
                      {
                        "date": "2026-05-12",
                        "cumulative_profit": 50000.0,
                        "drawdown": -1500.0
                      }
                    ]
                  },
                  "meta": {
                    "request_id": "req_example",
                    "cached": false,
                    "cost": 1
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "description": "Validator for the unchanged payload.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/trader/0xabc123/pnl'"
          }
        ]
      }
    },
    "/api/v1/traders/{trader}/position-timeline": {
      "get": {
        "operationId": "getPositionTimelineById",
        "summary": "Get a trader's position timeline (unified identity resolver)",
        "description": "Unified trader-timeline route (#4975). {trader} accepts all four identity shapes - 0x... wallet, username, trd_-prefixed trader id, and bare integer id - resolved by the single shared trader-identity resolver. Returns every Polymarket fill for one trader in one market, newest first, with server-computed running_amount and running_avg_price. Only HOT and WARM tier traders are tracked; other traders return 404. Response body is byte-identical to the singular GET /api/v1/trader/{address}/position-timeline route for the same (trader, market). The prior integer-id-only variant is preserved: the same path now accepts every identity shape.",
        "tags": [
          "Traders"
        ],
        "parameters": [
          {
            "name": "trader",
            "in": "path",
            "required": true,
            "description": "Trader identity: 0x... wallet address, username, trd_-prefixed trader id, or bare integer traders.id. Resolved with precedence wallet -> trd_ -> integer -> username. Unknown identities return 404.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "required": true,
            "description": "Market condition_id. One timeline per (trader, market).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response's next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Position timeline page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PositionTimelineEvent"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "total": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Total matching rows when the read model exposes a count; absent (or null) when it does not."
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TraderNotTracked"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/traders/{id}/position-timeline'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        }
      }
    },
    "/api/v1/positions": {
      "get": {
        "operationId": "listPositions",
        "summary": "List current positions (positions-board feed)",
        "description": "Returns the current positions-board feed backed by the wallet_positions mirror. Ordered by current_value_usd DESC with deterministic (wallet, condition_id, outcome_index) tiebreakers. Pre-reconcile rows (current_value_usd IS NULL) are excluded. Cursor-paginated. Every filter pushes into SQL.",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response's next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_size",
            "in": "query",
            "description": "Minimum current position value in USD.",
            "schema": {
              "type": "number",
              "default": 100
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Exact match against provider-backed market_canonical.category.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_grade",
            "in": "query",
            "description": "Minimum trader grade allowlist. `A` matches S and A; `B` matches S, A, B; etc.",
            "schema": {
              "type": "string",
              "enum": [
                "S",
                "A",
                "B",
                "C",
                "D",
                "F"
              ]
            }
          },
          {
            "name": "side",
            "in": "query",
            "description": "Filter by the binary outcome side. `yes` maps to outcome_index=0, `no` to outcome_index=1.",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Position"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "total": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Total matching rows when the read model exposes a count; absent (or null) when it does not."
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/positions'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        }
      }
    },
    "/api/v1/large-positions": {
      "get": {
        "operationId": "listLargePositions",
        "summary": "List large positions",
        "description": "Returns the largest current open positions from graded traders, value-descending, with opaque cursor pagination. Polymarket-only by design: the large-positions scanner filters platform = 'polymarket' (backend/crates/large-positions/src/scanner.rs), so no Kalshi rows are ever scanned and a Kalshi or unknown condition_id filter returns an empty list (never fabricated rows). The teaser cap that the internal product UI applies to anonymous viewers does not apply here: the API key already proves an active insider/annual subscription, so authed API callers get full access.",
        "tags": [
          "Large Positions"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination cursor from a previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_size",
            "in": "query",
            "description": "Minimum position value in USD.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by provider-backed market category.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_grade",
            "in": "query",
            "description": "Minimum trader grade.",
            "schema": {
              "type": "string",
              "enum": [
                "S",
                "A",
                "B",
                "C",
                "D",
                "F"
              ]
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "description": "Scope to one market. Accepts the raw provider condition_id or the mkt_-prefixed market id (round-trips a value from a list response). Polymarket-only; a Kalshi or unknown id returns [].",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Large positions list",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LargePosition"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Opaque cursor for the next page; absent on the last page."
                    },
                    "total": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Total ranked rows when the read model exposes a count; may be absent."
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "description": "Validator for the unchanged payload.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/large-positions?min_grade=A&limit=10'"
          }
        ]
      }
    },
    "/api/v1/whale-trades": {
      "get": {
        "operationId": "listWhaleTrades",
        "summary": "List whale trades",
        "description": "Returns recent large trades with signal scoring. Filter by size, category, or trader grade. Filters are applied before pagination, and every request uses SQL-backed limit + 1 pagination so has_more and next_cursor reflect the filtered result set. Cursor-paginated, newest first. Market categories come from provider-backed market_canonical identity.",
        "tags": [
          "Whale Trades"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response's next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_size",
            "in": "query",
            "description": "Minimum trade size in USD.",
            "schema": {
              "type": "number",
              "default": 5000
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by market category (case-insensitive). A canonical bucket name (e.g. Basketball) matches every provider member that folds into it (NBA, WNBA, NCAAB); a raw provider value also resolves to its bucket.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_grade",
            "in": "query",
            "description": "Minimum trader grade.",
            "schema": {
              "type": "string",
              "enum": [
                "S",
                "A",
                "B",
                "C",
                "D",
                "F"
              ]
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of whale trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WhaleTrade"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "total": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Total matching rows when the read model exposes a count; absent (or null) when it does not."
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/whale-trades'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        }
      }
    },
    "/api/v1/whale-trades/history": {
      "get": {
        "operationId": "listWhaleTradeHistory",
        "summary": "Replay historical whale trades",
        "description": "Returns historical whale trades from local whale_alerts rows, not request-time provider fetches. Filter by condition_id, trader, category, minimum grade, platform, and RFC3339 from/to windows. All filters are pushed into SQL before LIMIT, every request uses SQL-backed limit + 1 pagination, and results are ordered newest first by traded_at desc, id desc. Metadata exposes local_replay source and best_effort completeness.",
        "tags": [
          "Whale Trades"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response's next_cursor. Prefix: wth_. URL-encode when replaying as a query parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_size",
            "in": "query",
            "description": "Minimum trade size in USD.",
            "schema": {
              "type": "number",
              "default": 5000
            }
          },
          {
            "name": "condition_id",
            "in": "query",
            "description": "Exact raw provider condition_id. Unknown markets return an empty list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trader",
            "in": "query",
            "description": "Trader wallet address, timestamp-suffixed wallet alias, or username resolved against the traders table. Unknown traders return an empty list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by market category (case-insensitive). A canonical bucket name (e.g. Basketball) matches every provider member that folds into it (NBA, WNBA, NCAAB); a raw provider value also resolves to its bucket.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_grade",
            "in": "query",
            "description": "Minimum trader grade.",
            "schema": {
              "type": "string",
              "enum": [
                "S",
                "A",
                "B",
                "C",
                "D",
                "F"
              ]
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Filter by whale_alerts.platform. all is equivalent to omitted.",
            "schema": {
              "type": "string",
              "enum": [
                "polymarket",
                "kalshi",
                "all"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Inclusive RFC3339 lower bound on whale_alerts.traded_at.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Exclusive RFC3339 upper bound on whale_alerts.traded_at. Must be after from when both are present.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical whale trade replay",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WhaleTrade"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "total": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Total matching rows when the read model exposes a count; absent (or null) when it does not."
                    },
                    "meta": {
                      "$ref": "#/components/schemas/WhaleTradeHistoryMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/whale-trades/history'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        }
      }
    },
    "/api/v1/whale-trades/{id}": {
      "get": {
        "operationId": "getWhaleTrade",
        "summary": "Get whale trade by ID",
        "description": "Returns one whale trade by raw whale_alerts.id or the wt_-prefixed id emitted by list and history responses.",
        "tags": [
          "Whale Trades"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Raw whale_alerts.id or wt_-prefixed whale trade id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Whale trade",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "whale_trade"
                    },
                    "data": {
                      "$ref": "#/components/schemas/WhaleTrade"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "whale_trade",
                      "data": {},
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current payload.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/whale-trades/wt_123'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "whale_trade",
            "data": {},
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        }
      }
    },
    "/api/v1/leaderboard": {
      "get": {
        "operationId": "listLeaderboard",
        "summary": "Get trader leaderboard",
        "description": "Returns ranked traders (grades S/A/B) sorted by score descending. Supports cursor pagination and optional category/strategy filters.",
        "tags": [
          "Leaderboard"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor (score_address format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category. Values are matched to canonical category buckets: political variants (Elections, Global Politics, U.S. Politics, ...) fold into Politics, Geopolitics stays distinct, Culture/Entertainment map to Pop Culture, Science maps to Science & Tech, and Finance/Business map to Stocks. Mapped buckets are case-insensitive; passthrough categories (Crypto, NBA, and the sports leagues) match case-sensitively against the provider-native bucket key, so use exact casing (e.g. Crypto, NBA).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "strategy",
            "in": "query",
            "description": "Filter by ML-detected strategy type. Values come from backend/src/trader_analysis/classification/decision_tree.rs and are matched exactly against trader_classifications.primary_type. Unknown values currently match zero rows; the handler does not return HTTP 400.",
            "schema": {
              "type": "string",
              "enum": [
                "accumulator",
                "algo_trader",
                "arbitrageur",
                "directional",
                "event_driven",
                "market_maker",
                "momentum",
                "scalper",
                "speculator",
                "swing_trader"
              ]
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked trader list",
            "headers": {
              "ETag": {
                "description": "Stable validator for the current leaderboard payload. Re-send it via If-None-Match for conditional GETs.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LeaderboardEntry"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "total": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Total matching rows when the read model exposes a count; absent (or null) when it does not."
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "list",
                      "data": [],
                      "has_more": false,
                      "next_cursor": null,
                      "total": 0,
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current leaderboard payload.",
            "headers": {
              "ETag": {
                "description": "Validator for the unchanged leaderboard payload.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/leaderboard'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "list",
            "data": [],
            "has_more": false,
            "next_cursor": null,
            "total": 0,
            "meta": {
              "request_id": "req_example",
              "cached": false,
              "cost": 1
            }
          }
        }
      }
    },
    "/api/v1/pick-of-the-day": {
      "get": {
        "operationId": "getPickOfTheDay",
        "summary": "Get today's Pick of the Day",
        "description": "One sourced sharp-money call a day (Insider-tier). Returns the published pick for the CURRENT product day: the backed side, the pre-game odds and $100 return, the proven smart-money holders on that side, the grade, and the thesis. The price is snapshotted before kickoff so it does not drift. It never serves a prior day's finished pick as today's, so an automated consumer never acts on a stale, already-settled game (a prior pick stays available through the archive endpoint). When no pick is published for the current product day it returns 404 with error.code=\"not_found\" and error.reason=\"pick_not_released\" -- branch on the reason, because error.code is a frozen contract and stays \"not_found\". That 404 is a schedule, not an outage: each selected pick normally releases one hour before its provider kickoff, within the 11:00-19:00 UTC operating window; a skipped day has no release. DO NOT POLL. error.retry_at (RFC3339, always in the future) and Retry-After give the recommended next attempt: an exact floor before a scheduled release, or a bounded cadence while the selector is hunting. Schedule one request rather than sleeping a worker thread.",
        "tags": [
          "Pick of the Day"
        ],
        "parameters": [
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional GET validator from a previous ETag. Matching values return 304 Not Modified with an empty body.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Today's Pick of the Day",
            "headers": {
              "ETag": {
                "description": "Stable validator for the current Pick of the Day payload. Re-send it via If-None-Match for conditional GETs.",
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "pick_of_the_day"
                    },
                    "data": {
                      "$ref": "#/components/schemas/PickOfTheDay"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "object": "pick_of_the_day",
                      "data": {
                        "state": "full",
                        "pick_date": "2026-06-23",
                        "matchup": "Portugal vs. Uzbekistan",
                        "category": "Soccer",
                        "platform": "polymarket",
                        "release_at": "2026-06-23T17:00:00Z",
                        "is_locked": false,
                        "outcome": "pending",
                        "pick_outcome_label": "Portugal",
                        "position": "Portugal to win",
                        "side_summary": "Smart money is backing Portugal",
                        "smart_wallet_count": 7,
                        "top_grade": "A",
                        "smart_usd": 48250.0,
                        "backed_price": 0.62,
                        "return_per_100": 161.29,
                        "sharp_pct": 0.9,
                        "market_pct": 0.62,
                        "consensus_edge_pct": 0.28,
                        "directional_confidence": 0.82,
                        "one_way_holder_count": 3,
                        "hedged_holder_count": 1,
                        "one_way_graded_usd": 820.0,
                        "total_graded_usd": 1000.0,
                        "traders": 7,
                        "backed_sharp_usd": 312500.0,
                        "holders": [
                          {
                            "address": "0x0000000000000000000000000000000000000000",
                            "name": "swisstony",
                            "grade": "A",
                            "shares": 12500.0
                          }
                        ],
                        "holder_count": 7,
                        "editorial_note": null,
                        "thesis": "Graded soccer specialists are stacked on Portugal at a price the market has not fully repriced.",
                        "market_url": "https://0xinsider.com/market/portugal-vs-uzbekistan",
                        "event_slug": "portugal-vs-uzbekistan",
                        "sports_context": {
                          "league_name": "FIFA World Cup",
                          "league_logo": "https://polymarket.com/leagues/fifa-world-cup.png",
                          "yes_team": {
                            "label": "Portugal",
                            "short_label": "POR",
                            "full_name": "Portugal national football team",
                            "provider_id": 1421,
                            "logo": "https://polymarket.com/teams/portugal.png",
                            "color": "#C8102E",
                            "record": null,
                            "score": null
                          },
                          "no_team": {
                            "label": "Uzbekistan",
                            "short_label": "UZB",
                            "full_name": "Uzbekistan national football team",
                            "provider_id": 1738,
                            "logo": "https://polymarket.com/teams/uzbekistan.png",
                            "color": "#1EB53A",
                            "record": null,
                            "score": null
                          },
                          "game_id": 884213,
                          "event_matchup": false,
                          "matchup_title": "Portugal \u2013 Uzbekistan"
                        },
                        "disclaimer": "Not financial advice. Prediction markets carry risk; do your own research."
                      },
                      "meta": {
                        "request_id": "req_example",
                        "cached": false,
                        "cost": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current Pick of the Day payload.",
            "headers": {
              "ETag": {
                "description": "Validator for the unchanged Pick of the Day payload.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/SubscriptionRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/PickNotReleased"
          },
          "408": {
            "$ref": "#/components/responses/RequestTimeout"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/RateLimitUnavailable"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -sS \\\n  -H 'Authorization: Bearer $OXI_SK' \\\n  'https://api.0xinsider.com/api/v1/pick-of-the-day'"
          }
        ],
        "x-examples": {
          "success": {
            "object": "pick_of_the_day",
            "data": {
              "state": "full",
              "pick_date": "2026-06-23",
              "matchup": "Portugal vs. Uzbekistan",
              "category": "Soccer",
              "platform": "polymarket",
              "release_at": "2026-06-23T17:00:00Z",
              "is_locked": false,
              "outcome": "pending",
              "pick_outcome_label": "Portugal",
              "position": "Portugal to win",
              "side_summary": "Smart money is backing Portugal",
              "smart_wallet_count": 7,
              "top_grade": "A",
              "smart_usd": 48250.0,
              "backed_price": 0.62,
              "return_per_100": 161.29,
              "sharp_pct": 0.9,
              "market_pct": 0.62,
              "consensus_edge_pct": 0.28,
              "directional_confidence": 0.82,
              "one_way_holder_count": 3,
              "hedged_holder_count": 1,
              "one_way_graded_usd": 820.0,
              "total_graded_usd": 1000.0,
              "traders": 7,
              "backed_sharp_usd": 312500.0,
              "holders": [
                {
                  "address": "0x0000000000000000000000000000000000000000",
                  "name": "swisstony",
                  "grade": "A",
                  "shares": 12500.0
                }
              ],
              "holder_count": 7,
              "editorial_note": null,
              "thesis": "Graded soccer specialists are stacked on Portugal at a price the market has not fully repriced.",
              "market_url": "https://0xinsider.com/market/portugal-vs-uzbekistan",
              "event_slug": "portugal-vs-uzbekistan",
              "sports_context": {
                "league_name": "FIFA World Cup",
                "league_logo": "https://polymarket.com/leagues/fifa-world-cup.png",
                "yes_team": {
                  "label": "Portugal",
                  "short_label": "POR",
                  "full_name": "Portugal national football team",
                  "provider_id": 1421,
                  "logo": "https://polymarket.com/teams/portugal.png",
                  "color": "#C8102E",
                  "record": null,
                  "score": null
                },
                "no_team": {
                  "label": "Uzbekistan",
                  "short_label": "UZB",
                  "full_name": "Uzbekistan national football team",
                  "provider_id": 1738,
                  "logo": "https://polymarket.com/teams/uzbekistan.png",
                  "color": "#1EB53A",
                  "record": null,
                  "score": null
                },
                "game_id": 884213,
                "event_matchup": false,
                "matchup_title": "Portugal \u2013 Uzbekistan"
              },
[...]
